@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --sidebar-bg-light: #1e40af;
  --sidebar-bg-dark: #162b67;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(calc(-100% + 80px));
  }
  90% {
    transform: translateX(calc(-100% + 80px));
  }
  100% {
    transform: translateX(0);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.light {
  --sidebar-bg: var(--sidebar-bg-light);
}

.dark {
  --sidebar-bg: var(--sidebar-bg-dark);
}
